*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}
        #thong1{
            width: 100%;
        height: 100vh;
        }
        #thong2 {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#menu {
    list-style:none;
    display: flex;
   
    width: 800px;
    height: 100px;
    font-weight: bold;
}

#menu .item {
    margin:0px 25px;
    font-size: 30px;
    text-align: center;

}
#menu .item a {
    color:#4b14ee;
    text-decoration: none;
}
#banner {
    width: 100%;
    background-image :url("Anh/Untitled-2.jpg");
   height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:black;
}

#banner .box-left p {
    color:#0d0d0d;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}
td{
    color: red;
    text-align: center;
}
.csw-btn-button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 35px;
  color: #ffffff !important;
  border-radius: 5px;
  background: #9B6A1D;
  border: 1px solid #9B6A1D;
  transition: 0.4s;
}
.csw-btn-button:hover {
  background: #292929;
}
#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}
@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.muiten {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}
#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}
#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
